// Colors
$black-4: #0c0b0b;
$black-3: #161414;
$black-2: #333333;
$black-1: #535353;

$gray-3: #8b8b8b;
$gray-2: #b3b3b3;
$gray-1: #dddddd;

$white-1: #e6e6e6;

// Sizing
$size-xs: 0.5rem;
$size-sm: 1rem;
$size-md: 1.5rem;
$size-lg: 2rem;
$size-xl: 3rem;

// Fonts size
$font-xs: 1rem;
$font-sm: 1.2rem;
$font-md: 1.6rem;
$font-2md: 3rem;
$font-lg: 4rem;
$font-2lg: 5rem;
$font-xl: 7rem;

// Font family
$font-primary: "virtuous-slab";
$font-secondary: "Archivo Black";
