@import "../../styles/variables";

.backdrop {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 100000;
	left: 0;
	top: 0;
	visibility: hidden;
	background-color: rgba($black-4, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: "50% 50%";
	overflow: hidden;

	.articleModal {
		height: 60%;
		width: 60%;
		border-radius: 5px;
		background-color: $gray-1;
		display: flex;
		flex-direction: row;

		@media (max-width: 760px) {
			width: 100%;
			height: 100%;
			flex-direction: column;
			border-radius: 0;
			overflow: hidden;
		}

		.articleImage {
			flex: 4;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 5px 0 0 5px;
		}

		.articleContent {
			flex: 8;
			padding: $size-lg * 2;

			h3 {
				margin-bottom: $size-md * 2;
				font-size: $font-2md;
				font-family: $font-secondary;
				text-transform: uppercase;
				position: relative;

				@media (max-width: 760px) {
					font-size: $font-md;
				}

				&::before {
					content: attr(data-title);
					position: absolute;
					top: 55%;
					left: 51%;
					width: 100%;
					transform: translate(-50%, -50%);
					color: rgba($black-1, 0.2);
					z-index: 4;
					transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
				}
			}

			p {
				font-size: $font-sm;
				text-align: justify;
				text-justify: distribute;
				word-break: break-all;
				text-indent: 10%;
				line-height: 2.2rem;

				@media (max-width: 760px) {
				}
			}
		}

		.closeButton {
			position: absolute;
			top: 2rem;
			right: 2rem;
			font-size: $font-2md;
			font-family: $font-secondary;
			color: $black-1;
			cursor: pointer;
			transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

			@media (max-width: 760px) {
				top: 3rem;
				right: 3rem;
			}

			&:hover {
				color: $black-2;
			}
		}
	}
}
